<html>
<head>
  
</head>

<body>

<!-- Page Contents --> 

<div class="ui text container" id="search_bar">
<h1><%= form_tag(destinations_path, method: :get, class: 'ui inverted header') do %>
  <div class="ui transparent icon input">  
    <%= search_field_tag :search, params[:search], placeholder: "Your adventure awaits...", class: "form-control" %>  

    <a class="toc item">
      <i class="search icon">  
        <%= button_tag "", {class: 'item'} %>  
      </i>  
    </a>

  </div>  
<% end %></h1>
</div>



</body>



</html>
